---
import Section from "../Section.astro";

import CV from "@cv";
import Hobbies from "./Hobbies.astro";
import Languages from "./Languages.astro";
const { summary } = CV.basics;
---

<Section title="About" gap="1">
  <p class="font-mono opacity-75 print:font-sans text-sm">
    {summary}
  </p>
  <Languages />
  <Hobbies />
</Section>